<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clubhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ManageMembersActivity"></activity>
        <activity android:name=".ClubHubTeacher" />
        <activity android:name=".YourClubsStudent" />
        <activity android:name=".YourClubsTeacher" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EditClubInfoActivity" />
        <activity android:name=".ClubDescription" />
        <activity android:name=".CreateClubActivity" />
        <activity android:name=".ClubHubStudent" />
        <activity android:name=".CreateSchoolActivity" />
        <activity android:name=".FindAClub" />
        <activity android:name=".MeetingsThisWeek" />
        <activity android:name=".OpeningPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>